@page "/protected"
<AuthorizeView Roles="Admin,Basic">
    <Authorized>
        <h3>Protected Content</h3>
    </Authorized>
    <NotAuthorized>
        <h3>Not authorized to view protected content</h3>        
    </NotAuthorized>

</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }


}
